@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);

* {
  font-family: ProximaNova-Regular;
}

* {
  margin: 0;
}

.app__headersearch{
  margin: 12px;
  margin-left: 15%;
  margin-right: 15%;
  width: 15%;
  border: none;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  background-color: #FAFAFA !important;
  text-align: center;
  /* font-size: 20px; */
}


.app__header {
  /* object-fit: contain; */
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;

}

.app__headername{
  display: flex;
}

.app__headerImage{
  padding: 12px 0;
  align-content: center;
  max-width: 100%;
  object-fit: contain;
  align-items: center;
}

.app__headerbtns{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.app__user{
  /* padding: 15px 10px; */
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 41, 41);
  padding: 30px 15px;
  padding-bottom: 2px;
}

.app__username{
  font-weight: 500;
  color: #808080;
  /* border: 2px solid red; */
  margin-left: 14px;
  font-size: 15px;
  /* margin-bottom: 10px; */
}

.app__logout{
  margin-top: 38px;
  padding-left: 40px ;
  font-size: 13px;
  border: none;
  background-color: transparent;
  color: #00a2ff;
  font-weight: 600;
}

.App {
  background-color: #fafafa;
}

.app__signup{
  display: flex;
  flex-direction: column;

}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.app__userInfo{
  display:flex;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 250px;
  position: sticky;
  right: 0;
}

.app__footer{
  margin-left: 30px;
  font-size: 12px;
  color: #7e7e7e80;
}

.app__posts-right{
  margin-left: 20px;
}

/* .app__uploadbtn{
  transition: 3s !important;
  background-image: none;
}

.app__uploadbtn:hover{
  background-image: linear-gradient(to right, #F58529, #FEDA77, #DD2A7B, #8134AF,#515BD4) !important;
} */

.app__avatar{
  height: 65px !important;
  width: 65px !important;
}

.app__avatarOut{
  padding: 9px 0;
}

@media only screen and (max-width: 750px) {
  .app__headersearch{
    visibility: hidden;
  }
  .app__userInfo{
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
  .app__posts{
    justify-content: center;
  }

  .app__footer{
    visibility: hidden;
    /* justify-content: start; */
  }
}
