@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);


* {
  font-family: ProximaNova-Regular !important;
}

* {
    margin: 0;
}

body{
    background-color: #FAFAFA;  
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

@media only screen and (max-height: 720px){
    .login{
        margin-top: 60px;
    }
}

.login__upform{
    background-color: white;
    border: 1px solid rgba(211, 211, 211, 0.863);
    display: flex;
    justify-content: center;
    width: 40vh;
    border-radius: 2px;

}

.login__signin{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login__headerImage{
    display: flex;
    width: 80%;
}

.login__desc{
    font-size: 18px;
    font-weight: 600;
    color: #979797de;
    margin-bottom: 20px;
}

.login__policy{
    font-size: 12px;
    font-weight: 550;
    color: #979797de;
    margin-bottom: 20px;
    text-align: center;
}

.login__signup{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login__input {
    margin: 3px 0;
    border: 1px solid #ddddddde;
    border-radius: 2px;
    background-color: #fafafa;
    padding: 10px 7px;
    font-size: 12px;
}

.login__input:focus{
    border: 1px solid #747474 !important;
}

.login__btns {
    border: 0;
    background-color: #0ba2fa;
    color: white;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    /* margin: 10px; */
    margin: 15px 0;
    width: 100%;
    transition: .3s ease;
}

.login__btns:hover{
    background-color: #095d8d;
}

.login__switch{
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    border: 1px solid rgba(211, 211, 211, 0.863);
    width: 40vh;
    background-color: white;
    font-size: 15px;
}


footer{
    font-size: 12px;
  color: #7e7e7e80;
  margin-top: 80px;
}

.login__dp{
    /* border: none; */
    /* margin: 10px 0; */
    color: #0ba2fa;
    font-weight: 600;
}

.login__dp:hover{
    color: #0467a0;
}