@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
}

.profile__prfl{
    display: flex;
    justify-content: center;
}
.profile__usrnm{
    padding-right: 20px;
    font-weight: 100;
    color: #262626;
    font-size: 28px;
    text-decoration:none solid rgb(38, 38, 38);
}

.profile__editprfl{
    background-color: transparent !important;
    font-weight: 600 !important;
    border: 1px solid #cfcfcf !important;
    font-size: 14px;
    text-transform: none !important;
    padding: 0 15px !important;
}